<br>
<!-- Card -->
<div class="lineup">
  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title"><a>booking</a></h4>
    <pre class="card-text">herman@peterverstraelen.com
    </pre>
    <h4 class="card-title"><a>press</a></h4>
    <pre class="card-text">thibault@onthelevel.be
    </pre>
    <h4 class="card-title"><a>social</a></h4>
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3426796397/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://pauwel.bandcamp.com/album/omg">OMG by Pauwel</a></iframe>
   <!-- <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1037892422/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://pauweldemeyer.bandcamp.com/album/more-fun">More Fun by Pauwel De Meyer</a></iframe>  -->
    <br>
    <br>
    <div class="social">
   <!--    <a href="https://pauweldemeyer.bandcamp.com"><img src="assets/bc.png" height="45" width="45"></a>    -->
      <a href="https://open.spotify.com/album/6OnukdcvPRvE2vHsAZJ4zn?si=vL8kV0ESRzK5v-5msJJqig" target="_blank"><img src="assets/spotify.png" class="icon"></a>
      <a href="https://soundcloud.com/user-340055002" target="_blank"><img src="assets/soundcloud.png" class="icon" ></a>
      <a href="https://www.youtube.com/channel/UCNMdG0jotJozfzOaHj7dtLw?view_as=subscriber" target="_blank"><img src="assets/youtube.png" class="icon"></a>
      <a href="https://www.instagram.com/pauweldemeyer/?hl=nl" target="_blank"><img src="assets/instagram.png" class="icon" ></a>
      <a href="https://www.facebook.com/pauwelpauwelpauwel" target="_blank"><img src="assets/facebook.png" class="icon"></a>
    <!--  <a href="https://pauweldemezer.tumblr.com"><img src="assets/tumbler.png" height="40" width="40" class=""></a> -->
    </div> 
  </div>



